<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Form Template</title>
    <script src="../bootstrapcreative.js"></script>
    <link rel='stylesheet' href='../bootstrap.min.css'>
</head>
<body>
<!-- partial:index.partial.html -->
<div id="container" class="container">
    <form>
        <h2>MIDI configuration</h2>
        {{ slots }}


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
</script>

</body>
</html>