<div style="padding: 1em" id="{{ prefix }}_message" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ prefix }}_type">Type</label>

            <select name="{{ prefix }}_type" id="{{ prefix }}_type" class="form-control">
                <option id="{{ prefix }}_note_on" value="note_on">Note on</option>
                <option id="{{ prefix }}_note_off" value="note_off">Note off</option>
                <option id="{{ prefix }}_polyphonic" value="polyphonic">Polyphonic Key Pressure</option>
                <option id="{{ prefix }}_cc" value="cc">Control Change</option>
                <option id="{{ prefix }}_pc" value="pc">Program Change</option>
                <option id="{{ prefix }}_channel_pressure" value="channel_pressure">Channel Pressure</option>
                <option id="{{ prefix }}_pitch_bend" value="pitch_bend">Pitch Bend Change</option>
            </select>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label for="{{ prefix }}_channel">Channel</label>
            <select id="{{ prefix }}_channel" name="{{ prefix }}_channel" class="form-control"></select>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label for="{{ prefix }}_data_1">Data 1</label>
            <input type="number" name="{{ prefix }}_data_1" min="0" max="127" value="{{ data_1 }}" class="form-control" placeholder=""
                   id="{{ prefix }}_data_1">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label for="{{ prefix }}_data_2">Data 2</label>
            <input type="number" name="{{ prefix }}_data_2" min="0" max="127" value="{{ data_2 }}" class="form-control" placeholder=""
                   id="{{ prefix }}_data_2">
        </div>
    </div>

    <script>
        const channel_select = document.getElementById('{{ prefix }}_channel');
        for (let i = 1; i <= 16; i++) {
            const option = document.createElement("option");
            channel_select.options.add(option);
            option.text = i;
            option.value = i;
        }
        document.getElementById('{{ prefix }}_type').value = '{{ type }}';
        document.getElementById('{{ prefix }}_channel').value = '{{ channel }}'
    </script>
</div>